<template>
  <div>
      <h1>MyPage</h1>
      <h3>{{ $route.params.name }} {{ name }}</h3>
      <img src="../assets/userthanawat.jpg" alt="" height="165" width="125">
  </div>
</template>
<script>
export default {
  props: ['name']
}
</script>
<style></style>
